/* RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  
/* 2. Remove default margin */
* {
 margin: 0;
}
  
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
}
  
body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
  
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
  
  /* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
  /* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
  /*
    10. Create a root stacking context
  */
#root, #__next {
    isolation: isolate;
}

:root {
    --color-gray-900: #202020;
    --color-gray-800: #343434;
    --color-gray-600: #7C7C7C;
    --color-gray-400: #AFAFAF;
    --color-gray-200: #D3D3D3;
    --color-gray-50: #F1F1F1;

    --color-brand-mint: #9BBE96;
    --color-brand-blueberry: #96AFBE;
    --color-brand-guava: #EE9088;
    --color-brand-mushroom: #D29B64;
    --color-brand-dragonfruit: #B364D2;

    --color-gray-shadow-1: #7c7c7ce0;
    --color-gray-shadow-2: #343434da;

    --br-sm: 4px;
    --br-md: 8px;
    --br-lg: 16px;
    --br-xl: 32px;
    --br-2xl: 64px;
    --br-3xl: 128px;
   
    --spacing-half: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-8: 64px;
    --spacing-9: 72px;
    --spacing-10: 80px;
    --spacing-11: 88px;
    --spacing-12: 96px;
    --spacing-13: 104px;
}

/* BRAND COLOR UTIL CLASSES */
.mint {
    color: var(--color-brand-mint);
}

.blueberry {
    color: var(--color-brand-blueberry);
}

.dragonfruit {
    color: var(--color-brand-dragonfruit);
}

.guava {
    color: var(--color-brand-guava);
}

.mushroom {
    color: var(--color-brand-mushroom);
}

/* GRAY COLOR UTIL CLASSES */
.gray-50 {
    color: var(--color-gray-50);
}
.gray-200 {
    color: var(--color-gray-200);
}

.gray-400 {
    color: var(--color-gray-400)
}

.gray-600 {
    color: var(--color-gray-600);
}

.gray-800 {
    color: var(--color-gray-800);
}

.gray-900 {
    color: var(--color-gray-900);
}
/* GENERAL STYLES */
html {
    font-family: "Work sans", sans-serif;
    scrollbar-width: none;
}

body {
    margin: 75px 10px;
}

h1 {
    font-size: 3rem;
    letter-spacing: -4%;
    line-height: normal;
}

h2 {
    font-size: 2.3rem;
    letter-spacing: -4%;
    line-height: normal;
}

h3 {
    font-size: 2.075rem;
    letter-spacing: -4%;
    line-height: normal;
}

h4 {
    font-size: 1.725rem;
    letter-spacing: -2.8%;
    line-height: normal;
}

h5 {
    font-size: 1.4375rem;
    letter-spacing: -2%;
    line-height: normal;
}

h6 {
    font-size: 1.2rem;
    letter-spacing: -2%;
    line-height: normal;
}

li {
    font-size: 1.4375rem;
    line-height: normal;
}

p {
    font-size: 1rem;
    letter-spacing: 5%;
}

a {
    text-decoration: none;
}

hr {
    color: var(--color-gray-200);
}

.small-text {
    font-size: 0.8312rem;
    letter-spacing: 4%;
}

.xs-text {
    font-size: 0.625rem;
    letter-spacing: 6%;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 600;
}

.boldest {
    font-weight: 800;
}

.cta-button-primary {
    width: fit-content;
    height: fit-content;
    color: var(--color-gray-50);
    background-color: var(--color-brand-guava);
    border: none;
    border-radius: var(--br-2xl);
    padding: var(--spacing-2) var(--spacing-5);
    box-shadow: var(--color-gray-shadow-2) 0 4px 5px;
}

.back-button {
    width: 34px;
    height: 34px;
    background-color: var(--color-gray-200);
    border: none;
    cursor: pointer;
    border-radius: var(--br-lg);
    box-shadow: var(--color-gray-shadow-1) 0 4px 5px;
    font-weight: 800;
}

.item-carousel {
    display: flex;
    gap: var(--spacing-2);
    overflow-x: auto;
    cursor: grab;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.item-carousel::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 223px;
}

.truncated-sm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 96px;
}

.med-img {
    width: 48px;
    height: 48px;
    border-radius: var(--br-2xl);
}

/* HOME PAGE */
.top-nav-wrap {
    display: flex;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.right-nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.hero-section {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
}

.hero-image-container {
    display: flex;
    gap: var(--spacing-2);
    cursor: grab;
    scrollbar-width: none;
    margin-top: var(--spacing-5);
    transition: transform 0.5s ease;
}

.hero-image {
    min-width: 100%;
    background-size: cover;
    background-position: center;
}

.home-item-suggestions {
    margin-top: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.item-picture {
    width: 96px;
    height: 96px;
    border-radius: var(--br-md);
    border: none;
    position: relative;
}

.add-button-notification {
    display: flex;
    min-width: 24px;
    height: 24px;
    border-radius: var(--br-xl);
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--color-gray-50);
    background-color: var(--color-gray-800);
    position: absolute;
    bottom: 8%;
    right: 3%;
}

.bottom-nav {
    width: 100vw;
    height: 72px;
    background-color: var(--color-gray-800);
    position: fixed;
    left: 0%;
    bottom: 0vh;
}

.bottom-nav-container {
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-12);
}

.bottom-nav-button {
    min-width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    color: #d9d9d9;
    transition: color 0.3s ease;
}

.bottom-nav-button:hover {
    color: var(--color-brand-mint);
    cursor: pointer;
}

/* EDIT PAGE */

.edit-page-container {
    margin-bottom: 150px;
}

.list-name-searchbar-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-11);

}

.search-item {
    margin: 0 auto;
}

#searchbar-shoplist {
    border: 2px solid var(--color-gray-800);
    border-radius: var(--br-2xl);
    padding: 0 var(--spacing-2);
    width: 350px;
    height: 51px;
}

#cart-items {
    margin: var(--spacing-10) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    width: 420px;
}

.cart-right-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.cart-item-card {
    display: flex;
    gap: var(--spacing-1);
    height: 136px;
}

.title-and-price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 273px;
}

.cart-item-image {
    border-radius: var(--br-md);
}

.quantity-controller-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102px;
    height: 33px;
    background-color: var(--color-gray-200);
    border-radius: var(--br-2xl);
    padding: 0 16px;
}

.subtotal-and-save {
    background-color: var(--color-gray-800);
    width: 100vw;
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-3);
}

.subtotal-price {
    color: var(--color-gray-50);
}

/* SUCCESS SCREEN - SAVE TO LIST */

.success-screen-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

/* SHOPPING LIST */
.shopping-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.top-nav-wrapper-shoplist {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}
.back-button-and-title {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}
.shop-list-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.empty-state-shoplist {
    text-align: center;
    color: var(--color-gray-400);
    margin: 120px 40px;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    background-color: var(--color-gray-200);
    border: none;
    border-radius: var(--br-3xl);
    box-shadow: var(--color-gray-shadow-1) 0 4px 7px;
    position: fixed;
    left: 80vw;
    top: 85vh;
}

.edit-button-icon {
    width: 45px;
    height: 45px;
}

/* PROFILE PAGE */
.profile-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-7);
}

.name-and-settings-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.add-and-contacts-anchors {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.friends-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gray-200);
    height: 56px;
    padding: 0 var(--spacing-2);
    border-radius: var(--br-md);
}

.shopping-lists-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.shopping-lists-row {
    display: flex;
    gap: var(--spacing-2);
    overflow-x: auto;
}

.shopping-list-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-5);
    background-color: var(--color-brand-blueberry);
    min-width: 176px;
    height: 168px;
    border-radius: var(--br-xl);
    padding: 16px;
    scrollbar-width: none;
}

.shopping-list-card-title {
    text-align: center;
}

.bottom-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-2);
}

.icon-and-subtitle {
    display: flex;
    gap: var(--spacing-2);
}

.recent-activity-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-2);
}

.activity-post-container {
    display: flex;
    gap: var(--spacing-half);
}

.pfp-post {
    object-fit: cover;
    min-width: 48px;
    height: 48px;
    border-radius: var(--br-3xl);
}

/* NOTIFICATION PAGE */

.notification-page-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
}

.notification-top-nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.notification-feed-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
}

.notification-post-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.title-and-icon {
    display: flex;
    gap: var(--spacing-1);
}

.notification-card-img {
    position: relative;
    width: 223px;
    height: 97px;
    background-color: var(--color-gray-400);
    border-radius: var(--br-md);
}

.caught-up-reminder {
    text-align: center;
}

/* SETTINGS */

.setting-page-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    overflow: auto;

    scrollbar-width: none;
}

.setting-page-container::-webkit-scrollbar {
    display: none;
}

.title-and-back {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.setting-section-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.setting-wrapper {
    width: 400px;
    padding: 5px 20px;
    background-color: var(--color-gray-200);
    border-radius: var(--br-md);
    margin: 0 auto;
}

.setting-box {
    margin: 10px 0;
}

/* PRODUCT PAGE */

.product-page-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.product-img {
    width: 196px;
    height: 196px;
    border-radius: var(--br-md);
}

#product-details {
    max-height: 196px;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2);
}

.product-title {
    word-break: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-and-source {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.price {
    display: flex;
    gap: var(--spacing-1);
    align-items: baseline;
}

.discount {
    text-decoration: line-through;
}

.quantity-container {
    position: fixed;
    width: 100vw;
    height: 109px;
    background-color: var(--color-gray-800);
    bottom: 0vh;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quantity-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 192px;
    height: 55px;
    background-color: var(--color-gray-200);
    border-radius: var(--br-2xl);
    padding: 0 16px;
}

.change-quantity {
    border: none;
    background-color: transparent;
}

#add-to-list {
    width: 225px;
    height: 60px;
    background-color: var(--color-brand-guava);
    color: var(--color-gray-50);
    border: none;
    border-radius: var(--br-xl);
    box-shadow: 0 4px 4px var(--color-gray-600);
    position: fixed;
    left: 26%;
    bottom: 15vh;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(2px);
  z-index: 50;
  display: none;
}

.modal-backdrop.active {
  display: block;
}

#list-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: var(--color-gray-900);
  padding: 2rem;
  border-radius: var(--br-lg);
  display: none;
}

#list-modal.show {
  display: block;
}

#list-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-4);
    width: 100%;
    height: 100%;
    padding: 16px 8px;
    text-align: center;
    margin-bottom: 32px;
}

#list-of-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);
    margin-bottom: 32px;
}

.list-button {
    width: 300px;
    height: 65px;
    border-radius: var(--br-md);
    border: none;
    background-color: var(--color-brand-guava);
    color: var(--color-gray-50);
}

.save-buttons {
    background-color: var(--color-gray-200);
    border: none;
    border-radius: var(--br-sm);
    padding: 8px 16px;
}

#save-and-go {
    width: 200px;
}

#save-options {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    justify-content: center;
}

#cancel {
    cursor: pointer;
}
